// Colors
$fontGray: #66686a;
$footerFontGray: #8998a4;
$borderColor: #dee2e6;
$footerBackgroundColor: #0e2b42;
$buttonGray: #ced5da;
$buttonTextColor: #0e2b42;
$ButtonYellow: #f8e71c;

// Screen sizes
$tabletMinWidth: 575px; 
$tabletMaxWidth: 992px; 
$deskTopMinWidth: 1220px;
$deskTopLargWidth: 1800px;
